$light-grey: #F8F8F8;
$very-light-blue: #F2F7FC;
$light-blue: #F3F6FF;
$blue-grey: #DCE0EB;
$grey: #96A6C2;
$grey-2: #9299A3;
$grey-3: #6D7587;
$dark-blue: #364663;
$black-lighter: #2C2D2F;
$purple: #735BF2;
$primary: #2D74FF;
$light-blue: #4D9FFF;
$newsmast-error: #D02828;
$newmast-warning: #EC6249;
$green: #2DE1A0;
$tab-grey: #F1F4F8;
$dark-grey: #42454F;
$dark-light: #ACB0B9;
$error-2: #FF8C8C;