@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'GT america';
    src: url('../GTAmerica/GT-America-Standard-Regular.woff');
    src: url('../GTAmerica/GT-America-Standard-Bold.woff');
    // font-weight: 900;
    font-style:normal;
    color: #000000;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.logo-container-1 {
  width: 10rem;
  aspect-ratio: 1017/1010;
  display: block;

  span {
    width: 100% !important;
    height: auto !important;
    position: unset !important;
    max-height: unset !important;
    box-sizing: border-box;
    padding: 0;
    border: none;
    margin: auto;
    display: block;

    img {
      width: 100% !important;
      position: unset !important;
      height: auto !important;
      max-height: unset !important;
      display: block;
    }
  }

  img {
    width: 100% !important;
    position: unset !important;
    height: auto !important;
    max-height: unset !important;
    display: block;
  }
}

.profile-placeholder {
  width: 10rem;
  z-index: 100;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .white-circle {
    width: 9.7rem;
    height: 9.7rem;
    border: 2px solid white;
    border-radius: 50%;
  }

  .image-container {
    width: 8.5rem;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    box-sizing: border-box;
    border: 6px solid white;

    img {
      position: unset !important;
    }
  }

  .check-icon-container {
    position: absolute;
    top: 75%;
    z-index: 5;

    &.without-user {
      top: 77%;
    }

    .check-icon {
      position: relative;
      background-color: white;
      border-radius: 50%;
      border: 0.3rem solid white;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 1.7rem;
      height: 1.7rem;

      .check-icon-placeholder-container {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;

        .check-icon-placeholder {
          background: #111;
          width: 1.1rem;
          height: 1.1rem;
          position: relative;
          text-align: center;
          transform: rotate(20deg);
          border-radius: 20%;
        }

        .check-icon-placeholder:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          height: 1.1rem;
          width: 1.1rem;
          background: #111;
          transform: rotate(135deg);
          border-radius: 20%;
        }
      }

      svg {
        position: absolute;
      }
    }
  }

  .user {
    position: absolute;
    color: #111;
    background-color: white;
    padding-top: 0.7rem;
    padding-bottom: 0.5rem;
    padding-inline: 1.7rem;
    border-radius: 0.7rem;
    top: 83%;
  }

  &.active {
    .white-circle {
      display: none;
    }

    .image-container {
      border-color: $primary;
    }

    .user {
      background-color: $primary;
      color: white;
    }

    .check-icon-container {
      .check-icon {
        background-color: $primary;
        border-color: $primary;

        .check-icon-placeholder-container {
          .check-icon-placeholder {
            background-color: white;

            &:before {
              background-color: white;
            }
          }
        }

        svg {
          fill: $primary;
          stroke: $primary;
        }
      }
    }
  }
}

.audience-modal-container {

  &.show {
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
  }

  &.hidden {
    background-color: transparent;
  }

  .audience-modal {
    //margin-top: 30vh;
    //margin: 60vh 1rem 50vh 1rem;
    //margin-top: 60vh;
    border-radius: 10px;
    width: 90%;

    &:before {
      content: "";
      display: block;
      align-self: center;
      background-color: $blue-grey;
      width: 7rem;
      height: 0.5rem;
      border-radius: 1rem;
      margin-top: 0.7rem;
    }

    ul {
      margin-top: 1rem;
      // height: 70vh;
      overflow-y: auto;

      li {
        padding-block: 0.7rem;
      }
    }
  }
}

.phone-modal-container {

  // &.show {
  //   background-color: rgba(0, 0, 0, 0.3);
  // }

  // &.hidden {
  //   background-color: transparent;
  // }

  .phone-modal {
    margin-top: 10vh;
    border-top-left-radius: 2.5rem;
    border-top-right-radius: 2.5rem;

    &:before {
      content: "";
      display: block;
      align-self: center;
      background-color: $blue-grey;
      width: 7rem;
      height: 0.5rem;
      border-radius: 1rem;
      margin-top: 0.7rem;
    }

    ul {
      margin-top: 1rem;
      height: 70vh;
      overflow-y: auto;

      li {
        padding-block: 0.7rem;
      }
    }
  }
}

.purchase-modal-container {

  &.show {
    background-color: rgba(0, 0, 0, 0.3);
  }

  &.hidden {
    background-color: transparent;
  }

  .purchase-modal {
    margin-top: 5vh;
    border-top-left-radius: 2.5rem;
    border-top-right-radius: 2.5rem;
    background-image: url("/images/splash-screen.png");
    background-position: center;
    background-size: cover;

    &:before {
      content: "";
      display: block;
      align-self: center;
      background-color: $blue-grey;
      width: 7rem;
      height: 0.5rem;
      border-radius: 1rem;
      margin-top: 0.7rem;
    }

    ul {
      margin-top: 1rem;
      height: 70vh;
      overflow-y: auto;

      li {
        padding-block: 0.7rem;
      }
    }
  }
}


.nextjs-responsive-image-container {
  width: 100%;
  display: block;

  span {
    width: 100% !important;
    height: auto !important;
    position: unset !important;
    max-height: unset !important;
    box-sizing: border-box;
    padding: 0;
    border: none;
    margin: auto;
    display: block;

    img {
      width: 100% !important;
      position: unset !important;
      height: auto !important;
      max-height: unset !important;
      display: block;
    }
  }

  img {
    width: 100% !important;
    position: unset !important;
    height: auto !important;
    max-height: unset !important;
    display: block;
  }
}

.bg-primary {
  background-color: $primary;
}

.text-primary {
  color: $primary;
}

button,
.disable-blue-box,
a {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;

  &:focus {
    outline: 0;
  }
}

.reverse-shadow {
  box-shadow: 1px -6px 14px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px -6px 14px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px -6px 14px 2px rgba(0, 0, 0, 0.1);
}

.post-reply-input {
  height: 100%;
  color: $dark-blue;

  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $dark-blue;
    opacity: 1;
    /* Firefox */
  }
}

.input-container {
  height: 4rem;
  overflow: hidden;

  &:after {
    content: attr(data-placeholder);
    position: absolute;
    top: 0;
    left: 0;
    padding-inline: 1.2rem;
    font-size: 1rem;
    padding-block: 0.4rem;
    margin-top: 0.7rem;
    opacity: 1;
    transition: all 0.5s ease;

  }

  &.search {
    &:after {
      color: $grey-2;
      margin-left: 1.7rem;
    }
  }

  input {
    position: absolute;
    top: 0;
    margin-top: -0.3rem;
    color: transparent;

    &::placeholder {
      opacity: 0;
    }

    transition: all 0.5s ease;
  }

  &.selected {
    border-bottom: 0.2rem solid $newsmast-error;

    &:after {
      margin-top: 0;
      font-size: 0.8rem;
      opacity: 1;

    }

    &.search {
      &:after {
        opacity: 0;
      }

    }

    input {
      &:not(.disable-label-animation) {
        margin-top: 0.3rem;
        color: $dark-blue
      }
    }
  }


  input {
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
  }
}

.verification-input {
  background-color: $very-light-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;

  &.selected {
    border-bottom: 0.2rem solid $primary;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.start-page-bg {
  background-image: url("/images/newsmast-bg.png");
  background-size: cover;
}

.role-modal-container {
  &.show {
    background-color: rgba(0, 0, 0, 0.3);
  }

  &.hidden {
    background-color: transparent;
  }

  .role-modal {
    margin-top: 10vh;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;

    &:before {
      content: "";
      display: block;
      align-self: center;
      background-color: $blue-grey;
      width: 7rem;
      height: 0.5rem;
      border-radius: 1rem;
      margin-top: 0.7rem;
    }

    ul {
      margin-top: 1rem;
      height: 70vh;
      overflow-y: auto;

      li {
        padding-block: 0.7rem;
      }
    }
  }
}

#partitioned {
  padding-left: 15px;
  letter-spacing: 42px;
  border: 2;
  border-color: rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(to left, black 70%, rgba(255, 255, 255, 0) 0%);
  background-position: bottom;
  background-size: 50px 1px;
  background-repeat: repeat-x;
  background-position-x: 35px;
  width: 220px;
  outline: none;
}

.opt-input-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.opt-input-box input {
  height: 4rem !important;
  width: 3.7rem !important;
  background-color: #eee;
  font-weight: 800;
  border-radius: 5px;

}

.logo-container-1 {
  width: 10rem;
  aspect-ratio: 1017/1010;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
}